@keyframes pisca{
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2;}

}

body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(63, 54, 54);
}

.urna{
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
    margin-top: 280px;
}

.tela{
    width: 450px;
    height: 320px;
    background: linear-gradient(to right, #e8e8e8, #c1c1c1);
    border: 2px solid rgb(54, 54, 54);
    display: flex;
    flex-direction: column;

}
.teclado{
    background-color: #403a3a;
    margin-left: 30px; 
}

.teclado--linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.teclado--botao{
    width: 70px;
    height: 40px;
    background-color: black;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 0px rgb(100, 99, 99);
}
.botao-branco{
    background-color: white;
    color: black;
    font-size: 15px;
}

.botao-corrige{
    background-color: rgb(255, 0, 0);
    color: black;
    font-size: 15px;
}
.botao-confirma{
    background-color: rgb(12, 173, 12);
    color: black;
    font-size: 16px;
    width: 85px;
}

.d-1{
    flex: 1;
    display: flex;
}
.d-1-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.d-1-1{
    height: 50px;
    display: flex;
    align-items: center;

}

.d-1-2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.d-1-3{
    height: 50px;
    align-items: center;
    display: flex;

}

.numero{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 24px;
}
.pisca{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.d-1-4{
    flex: 1;
    line-height: 30px;

}
.d-1-right{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.d-1-image{
    border: 1px solid black;
    background-color: white;
    text-align: center;
    font-size: 14px;
    
}
.d-1-image img{
    width: 100%;
}
.d-1-image.small{
    width: 80%;
    font-size: 12px;

}
.d-2{
    height: 50px;
    font-size: 14px;
    border-top: 2px solid black;
    padding-left: 10px;
    padding-top: 5px;
}

.aviso--grande{
    font-size: 35px;
    font-weight: bold;
}
.aviso--gigante{
    font-size: 70px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}